In [1]:
# Import the numpy package under the name np

import numpy as np

In [26]:
# Create a null vector of size 10

np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [23]:
# Create a vector with values ranging from 10 to 49

np.arange(10,50)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

In [24]:
# Find the shape of previous array in question 3

x.shape

(10,)

In [26]:
# Print the type of the previous array in question 3

x.dtype

dtype('float64')

In [27]:
# Print the numpy version and the configuration

print(np.__version__)

1.19.2

In [28]:
# Print the numpy version and the configuration

print(np.show_config())

blas_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['E:/anaconda\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['E:/anaconda\\Library\\include']
blas_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['E:/anaconda\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['E:/anaconda\\Library\\include']
lapack_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['E:/anaconda\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['E:/anaconda\\Library\\include']
lapack_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['E:/anaconda\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['E:/anaconda\\Library\\include']
None

In [34]:
# x.shape

(10,)

In [37]:
# Print the dimension of the array in question 3
x.ndim

1

In [50]:
# Create a boolean array with all the True values

arroftrue=np.ones((5), dtype=bool)

array([ True,  True,  True,  True,  True])

In [51]:
# Create a two dimensial array

twod=np.ones((2,2))

array([[1., 1.],
       [1., 1.]])

In [54]:
# Create a three dimensial array

threeD=np.ones((2,2,3))

In [55]:
threeD

array([[[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]]])

In [56]:
# Reverse a vector (first element becomes last)

b=[1,2,3,4,5,6]

In [57]:
# Reverse a vector (first element becomes last)
c=b[::-1]

In [58]:
# Reverse a vector (first element becomes last)
c

[6, 5, 4, 3, 2, 1]

In [62]:
# Create a null vector of size 10 but the fifth value which is 1
arr=np.zeros(10)

In [63]:
arr

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [64]:
# Create a null vector of size 10 but the fifth value which is 1

arr[4]=1

In [65]:
# Create a null vector of size 10 but the fifth value which is 1
arr

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

In [66]:
# Create a 3x3 identity matrix


identity=np.identity(3)

In [67]:
# Create a 3x3 identity matrix

identity

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [72]:
# Convert the data type of the given array from int to float

arrint = np.array([1, 2, 3, 4, 5])

arr1.dtype

In [73]:
arrint.dtype

dtype('int32')

In [74]:
# Convert the data type of the given array from int to float

arrint = arr. astype('float64')

In [75]:
arrint.dtype

dtype('float64')

In [76]:
# Convert the data type of the given array from int to float

arrint

array([1., 2., 3., 4., 5.])

In [79]:
# Multiply arr1 with arr2

arr1 = np.array([[1., 2., 3.],

            [4., 5., 6.]])

arr2 = np.array([[0., 4., 1.],

           [7., 2., 12.]])

In [80]:
# Multiply arr1 with arr2
arr1*arr2

array([[ 0.,  8.,  3.],
       [28., 10., 72.]])

In [83]:
arr1 = np.array([[1., 2., 3.],

            [4., 5., 6.]])

In [84]:
arr2 = np.array([[0., 4., 1.],

            [7., 2., 12.]])

In [85]:
# Make an array by comparing both the arrays provided above
comparison = arr1 == arr2

In [86]:
# Make an array by comparing both the arrays provided above
comparison.all()

False

In [6]:
# Extract all odd numbers from arr with values(0-9)
a = np.array([1,2,3,4,5,6,6,7,7,8,9])

In [10]:
# Extract all odd numbers from arr with values(0-9)
np.where(a%2==1,-1,a)

array([-1,  2, -1,  4, -1,  6,  6, -1, -1,  8, -1])

In [11]:
# Replace the values of indexes 5,6,7 and 8 to 12
arr = np.arange(10)

In [21]:
# Replace the values of indexes 5,6,7 and 8 to 12
arr[5:9]=12

In [22]:
arr

array([ 0,  1,  2,  3,  4, 12, 12, 12, 12,  9])

In [23]:
# Create a 2d array with 1 on the border and 0 inside
x=np.ones((5,5))

In [24]:
# Create a 2d array with 1 on the border and 0 inside

x[1:-1,1:-1]=0

In [25]:
x

array([[1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 1.],
       [1., 0., 0., 0., 1.],
       [1., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1.]])

In [27]:
# Medium

In [28]:
 arr2d = np.array([[1, 2, 3],

            [4, 5, 6], 

            [7, 8, 9]])

In [35]:
# Replace the value 5 to 12

np.where(arr2d==5,12,arr2d)

array([[ 1,  2,  3],
       [ 4, 12,  6],
       [ 7,  8,  9]])

In [61]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

In [62]:
# Convert all the values of 1st array to 64
arr3d[1]=64

In [3]:
# Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

x = np.array([[1, 2, 3,4,5], [6,7,8,9,10]], np.int32)

In [4]:
x[:1]

array([[1, 2, 3, 4, 5]])

In [11]:
# Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

x=np.arange(10)

In [19]:
y=x.reshape(2,5)

In [42]:
# Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

z=y[::,1]

In [43]:
z

array([1, 6])

In [44]:
# Create a 10x10 array with random values and find the minimum and maximum values
x = np.random.random((5,5))

In [50]:
# Create a 10x10 array with random values and find the minimum and maximum values
np.amax(x)

0.9604878115463532

In [51]:
# Create a 10x10 array with random values and find the minimum and maximum values
np.amin(x)

0.04845770010091055

In [53]:
# Find the common items between a and b
a = np.array([1,2,3,2,3,4,3,4,5,6])

In [54]:
 b = np.array([7,2,10,2,7,4,9,4,9,8])

In [56]:
# Find the common items between a and b

np. intersect1d(a,b)

array([2, 4])

In [58]:
# Find the positions where elements of a and b match

np.where(a==b)

(array([1, 3, 5, 7], dtype=int64),)

In [60]:
# Find all the values from array data where the values from array names are not equal to Will

names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

In [70]:
# Find all the values from array data where the values from array names are not equal to Will

np.where(names=='Will')

(array([2, 4], dtype=int64),)

In [78]:
# Find all the values from array data where the values from array names are not equal to Will and Joe

np.where(names=='Will')

(array([2, 4], dtype=int64),)

In [79]:
# Find all the values from array data where the values from array names are not equal to Will and Joe

np.where(names=='Joe')

(array([1, 5, 6], dtype=int64),)

In [85]:
# Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

q=np.arange(15)

In [86]:
# Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

q.reshape(5,3)

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14]])

In [88]:
# Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

w=np.arange(16)

In [89]:
# Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

e=w.reshape(2,2,4)

In [90]:
e

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7]],

       [[ 8,  9, 10, 11],
        [12, 13, 14, 15]]])

In [92]:
# Swap axes of the array you created in Question 32

np.swapaxes(e,0,1)

array([[[ 0,  1,  2,  3],
        [ 8,  9, 10, 11]],

       [[ 4,  5,  6,  7],
        [12, 13, 14, 15]]])

In [93]:
# Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

x=np.arange(10)

In [96]:
sqr=np.sqrt(x)

In [100]:
np.where(sqr<0.5,0,sqr)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

In [103]:
# Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

x=np.random.randn(12)

In [105]:
y=np.random.randn(12)

In [106]:
z=np.maximum(x,y)

In [107]:
z

array([ 0.67466001, -0.39553675,  1.00931813,  1.32063847,  1.00648113,
        0.58037493,  0.77498134,  0.33535638,  0.68422787,  0.43208531,
        1.19977154,  0.94211991])

In [108]:
# Find the unique names and sort them out!

names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

In [109]:
# Find the unique names and sort them out!

np.unique(names)

array(['Bob', 'Joe', 'Will'], dtype='<U4')

In [110]:
# From array a remove all items present in array b

a = np.array([1,2,3,4,5])

In [111]:
b = np.array([5,6,7,8,9])

In [112]:
# From array a remove all items present in array b

result = np.setdiff1d(a, b)

In [113]:
result

array([1, 2, 3, 4])

In [115]:
# Following is the input NumPy array delete column two and insert following new column in its place.

sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]])

In [118]:
newColumn = np.array([[10,10,10]])

In [120]:
sampleArray[0:1]=newColumn

In [121]:
sampleArray

array([[10, 10, 10],
       [82, 22, 12],
       [53, 94, 66]])

In [122]:
# Find the dot product of the above two matrix

x = np.array([[1., 2., 3.], [4., 5., 6.]])

In [123]:
y = np.array([[6., 23.], [-1, 7], [8, 9]])

In [124]:
# # Find the dot product of the above two matrix

z=np.dot(x,y)

In [125]:
z

array([[ 28.,  64.],
       [ 67., 181.]])

In [127]:
# Generate a matrix of 20 random values and find its cumulative sum
x=np.random.rand(4,5)

In [128]:
# Generate a matrix of 20 random values and find its cumulative sum
x.cumsum()

array([0.7605046 , 1.27336136, 1.52170451, 2.36002438, 2.74288944,
       3.47916798, 4.46199279, 4.8791071 , 5.63861169, 6.43420609,
       6.4472425 , 6.98419379, 7.17958647, 7.64609269, 7.77052282,
       8.4709428 , 8.79751303, 9.02505646, 9.34653069, 9.40319256])

In [34]:
z

array([[0, 1, 2, 3, 4]])

In [32]:
z

array([], shape=(0, 5), dtype=int32)

array([[0, 1, 2, 3, 4]])

In [28]:
z

array([], shape=(0, 5), dtype=int32)

In [26]:
z

array([[0, 1, 2, 3, 4]])

In [24]:
z

array([[0, 1, 2, 3, 4]])

In [22]:
z

array([], shape=(0, 5), dtype=int32)

In [10]:
x

array(10)

array([2, 2])

In [66]:
darray

array([2, 2])

array([[[64, 64, 64],
        [64, 64, 64]],

       [[64, 64, 64],
        [64, 64, 64]]])

array([[[64, 64, 64],
        [64, 64, 64]],

       [[64, 64, 64],
        [64, 64, 64]]])

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[64, 64, 64],
        [64, 64, 64]]])

In [48]:
arr3d

array([[[64, 64, 64],
        [64, 64, 64]],

       [[64, 64, 64],
        [64, 64, 64]]])

array([[[64, 64, 64],
        [64, 64, 64]],

       [[64, 64, 64],
        [64, 64, 64]]])

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[64, 64, 64],
        [64, 64, 64]]])

In [31]:
arr2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

array([-1,  2, -1,  4, -1,  6,  6, -1, -1,  8, -1])

NameError: name 'np' is not defined

In [93]:
a

array([2, 3, 4, 5, 6, 6])

(10,)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

(10,)